.project-posts-container{
    margin: 20px;
}

.project-posts-akcions{
    padding: 4px;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.project-posts-route{
    margin: 6px;
    margin-left: 20px;
    color: blue;
}