.project-posts-container{
    margin: 20px;
}

.project-posts-akcions{
    margin-right: 4px;
    margin-left: auto;
}

.project-posts-route{
    margin: 6px;
    margin-left: 20px;
    color: blue;
}

.post-projects-table{
    margin-top: 20px;
}