<mat-sidenav-container class="sidenav-container">
    <mat-sidenav  *ngIf="isAuthenticated | async" #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <mat-toolbar>Navigation</mat-toolbar>
        <app-navigation-routes-list></app-navigation-routes-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar *ngIf="isAuthenticated | async" color="primary">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="toggleDrawer()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span  i18n>Admin Panel</span>
        <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>add</mat-icon></button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Add New Project</button>
        </mat-menu>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
